* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --lighter-grey: #4a4a4a;
  --dark-grey: #222222;
}

/* #region HEADER */

header {
  background-color: black;
  text-align: end;
  padding: 15px 5px;
}

header span {
  color: #fff;
  background-color: var(--lighter-grey);
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
}

/* #endregion HEADER */

/* #region MAIN */

main {
  background-color: black;
  height: calc(100vh - 49px - 100px);
  overflow-y: scroll;
}

.container {
  width: 90%;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 2000px;
  gap: 5px;
}

.user {
  position: relative;
  margin-bottom: 10px;
}

.user img {
  display: block;
  width: 100%;
}

.user-name {
  font-size: 0.9rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.375);
  padding: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* #endregion MAIN */

/* #region BOTTOM TOOLBAR */

.bottom-toolbar {
  height: 100px;
  background-color: var(--dark-grey);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.big-icon {
  font-size: 1.8rem;
  margin-bottom: 8px;
}

.left,
.center {
  display: flex;
  align-items: center;
}

.icon {
  padding: 0 15px;
  text-align: center;
  cursor: pointer;
}

.icon p {
  font-size: 0.8rem;
}

.fa-angle-up {
  font-size: 1rem;
}

.right {
  color: red;
  background-color: var(--lighter-grey);
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  font-weight: 700;
  cursor: pointer;
}

/* #endregion BOTTOM TOOLBAR */

.p-10 {
  padding: 10;
}

.green {
  color: rgb(0, 205, 0);
}
